<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">

      {% if site.title and site.title != page.title %}
      <a href="{{ "/" | absolute_url }}">[{{ site.title }}]</a>
      {% endif %}
      <a href="{{ site.github.repository_url }}">[REPO]</a>
      {% github_edit_link "[SOURCE]" %}


      {{ content }}


<div class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="LCamel/github-page-test"
        data-repo-id="R_kgDOMYfA-g"
        data-category="Announcements"
        data-category-id="DIC_kwDOMYfA-s4ChODZ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
